In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import requests
import fredapi
import os

def Fred_API_key():
    return '12e72fe8659b5ba78d8dd6f1bb8d97ee'

tickers = ['MMM', 'STX']
series_tickers = [
            'TB3MS',    # 01 3-Month Treasury Bill Secondary Market Rate, Discount Basis
           'DGS10']
quarterly_list = ['GDPC1']

DATA_DIR = "./Data/Sources/"

In [3]:
def extend_quarterly_to_monthly(df):
    """
    Extends quarterly data to monthly using forward-fill.

    Parameters:
        df (DataFrame): A Pandas DataFrame containing quarterly data. 
                        It must have a column named 'date' with datetime values.

    Returns:
        DataFrame: A DataFrame with monthly data, where the values from the
                   quarterly data are forward-filled to fill missing months.

    Example:
        If quarterly data includes rows for March, June, September, and December,
        this function will fill intermediate months (e.g., April and May) with
        the March data values.
    """
    # Ensure 'date' column is of datetime type
    df['date'] = pd.to_datetime(df['date'], errors='coerce')

    # Drop rows with invalid or missing 'date' values
    df = df.dropna(subset=['date'])

    # Generate a complete range of monthly start dates
    all_months = pd.date_range(start=df['date'].min(), end=df['date'].max(), freq='MS')

    # Reindex to include all months and forward-fill missing data
    df = (
        df.set_index("date")
        .reindex(all_months)
        .ffill()
        .infer_objects()
        .reset_index()
    )

    # Rename the index column to 'date'
    df.rename(columns={"index": "date"}, inplace=True)

    return df
def get_FredData(series_id, api_key, start,end, data_freq = 'm'):
    """
    Fetches data from the FRED (Federal Reserve Economic Data) API or a local CSV file.

    Parameters:
        series_id (str): The FRED series identifier (e.g., 'GDP' for Gross Domestic Product).
        api_key (str): Your API key for accessing the FRED API.
        start (str): The start date for the data in 'YYYY-MM-DD' format.
        end (str): The end date for the data in 'YYYY-MM-DD' format.
        data_freq (str): The frequency of data retrieval ('m' for monthly, 'q' for quarterly).
                         Defaults to 'm'.

    Returns:
        DataFrame: A DataFrame with the requested data containing two columns:
                   - 'date': The observation dates as datetime values.
                   - 'value': The series data for the corresponding dates.

                   If the series is quarterly, the data is extended to monthly using forward-fill.

    Notes:
        - If the request to the FRED API is successful, the data is fetched and converted into
          a Pandas DataFrame.
        - If the series is defined as quarterly, it will be transformed into monthly data.
        - Errors during API requests are printed to the console.

    Example:
        data = get_FredData("GDP", "your_api_key", "1950-01-01", "2020-12-31")
    # https://www.youtube.com/watch?v=M_jswxN3iwI&t=18s
    """
    base_url    = 'https://api.stlouisfed.org/fred/series/observations'
    if series_id in quarterly_list:
        data_freq = 'q'
    obs_params = {
        'series_id': series_id,
        'api_key': api_key,
        'file_type': 'json',
        'observation_start': start,
        'observation_end': end,
        'frequency': data_freq
        }
    # make request
    response = requests.get(base_url,
                            params=obs_params)
    # Check response
    df = None
    if response.status_code == 200:
        print(f'Lets download {series_id}')
        data = response.json()
        df = pd.DataFrame(data['observations'])
        #df['date'] = pd.to_datetime(df['date'])
        #df.value = df.value.astype('float')
        df = df[['date','value']]
        #df.to_csv(file_path, index=False)        
        if series_id in quarterly_list:
            df = extend_quarterly_to_monthly(df)         
    else:
        print(f"Error {response.status_code}: {response.text}")  # Print error message            
    if series_id in quarterly_list:
        df = extend_quarterly_to_monthly(df)
    return df

def get_economic_data(start_date  = '1957-03-01', end_date = '2020-12-31'):
    """
    Retrieves economic data for a specified date range either from a local CSV file
    or by downloading it from the FRED API.

    Returns:
        DataFrame: A DataFrame containing economic data for multiple series. 
                   Derived indicators like the credit spread ('csp') are also computed.

    Notes:
        - If a local file named 'EconomicData.csv' exists in the data directory, 
          the data is loaded from this file.
        - If the file does not exist, the function fetches data from the FRED API
          for a predefined list of series identifiers (`series_tickers`) and merges the results.

    Additional Computations:
        - The function computes the credit spread ('csp') if both 'BAA' and 'AAA' series
          are present in the data. The credit spread is calculated as:
            csp = BAA - AAA

    Example:
        df = get_economic_data()

    Dependencies:
        - Requires a valid FRED API key via the `Fred_API_key()` function.
        - Requires the list of series identifiers in `series_tickers`.
        - Requires a defined `DATA_DIR` for file operations.
    """
    fname = 'EconomicData.csv'
    file_path = os.path.join(DATA_DIR,fname)
    if os.path.exists(file_path):
        df = pd.read_csv(file_path, parse_dates=["date"])  # Load from CSV
        return df
    else:    
        API_KEY = Fred_API_key()
        df = None
        for series_id in series_tickers:
            temp = get_FredData(series_id,API_KEY,start_date,end_date)
            if temp is not None:
                temp = temp.rename(columns={'value': series_id})
                if df is None:
                    df = temp
                else:
                    df = df.merge(temp, on='date', how = 'inner')
    
    #   Computes derived indicators like credit spread."""
    if 'BAA' in df.columns and 'AAA' in df.columns:
        df['csp'] = df['BAA'] - df['AAA']  # 15 Credit Spread
    return df

In [ ]:
start  = '2000-03-01'
end    = '2009-12-31'

GDPC1 = get_FredData(series_id='GDPC1', 
             api_key=Fred_API_key(),
            start=start,end=end, data_freq = 'q')
GDPC1.head()

Lets download GDPC1

        date      value
0 2000-01-01  13878.147
1 2000-02-01  13878.147
2 2000-03-01  13878.147
3 2000-04-01  14130.908
4 2000-05-01  14130.908

In [160]:
TB3MS = get_FredData(series_id='INDPRO', 
             api_key=Fred_API_key(),
            start=start,end=end)
TB3MS.head()

Lets download INDPRO

         date    value
0  2000-03-01   92.083
1  2000-04-01  92.6659
2  2000-05-01  92.9347
3  2000-06-01  93.0018
4  2000-07-01  92.8373

In [157]:
TB3MS['date'] = pd.to_datetime(TB3MS['date'], errors='coerce')
GDPC1['date'] = pd.to_datetime(GDPC1['date'], errors='coerce')
temp = TB3MS.merge(GDPC1, on='date', how = 'inner')
temp.head()

        date value_x    value_y
0 2000-03-01    5.69  13878.147
1 2000-04-01    5.66  14130.908
2 2000-05-01    5.79  14130.908
3 2000-06-01    5.69  14130.908
4 2000-07-01    5.96  14145.312

In [42]:
def returns(df, col,lag=1):
    """
    Computes lagged returns for a specified column in the DataFrame.

    Parameters:
        df (DataFrame): A Pandas DataFrame containing the data.
        col (str): The column name for which returns are calculated.
        lag (int): The lag period for calculating returns (default is 1).

    Returns:
        Series: A Pandas Series containing the lagged returns, calculated as:
                (current_value / previous_value) - 1.
    """
    return df[col]/df[col].shift(lag) - 1

def rolling_var(data1,N):
    """
    Computes the rolling variance over a specified window size.

    Parameters:
        data1 (Series): A Pandas Series containing the data.
        N (int): The rolling window size.

    Returns:
        Series: A Pandas Series with the rolling variance over the window `N`.
    """
    return data1.rolling(N).var()

def rolling_cov(data1, data2, N):
    """
    Computes the rolling covariance between two data series over a specified window size.

    Parameters:
        data1 (Series): A Pandas Series containing the first data series.
        data2 (Series): A Pandas Series containing the second data series.
        N (int): The rolling window size.

    Returns:
        Series: A Pandas Series with the rolling covariance over the window `N`.
    """
    return data1.rolling(N).cov(data2)

import statsmodels.api as sm

def regress_on_mkt(data, snp500, ticker, window_size=60):
    """
    Perform rolling regression to compute the price delay ratio based on market return lags.

    Parameters:
        data (DataFrame): Input data containing stock and market returns.
        ticker (str): Stock ticker for which price delay is computed.
        window_size (int): Size of the rolling window for regression.

    Returns:
        DataFrame: Original data with added columns for price delay ratios.
    """

    snpTicker = '^GSPC'
    # Check for the required column availability
    if f'{snpTicker}.Ret' not in snp500.columns:
        raise ValueError(f"Column '{snpTicker}.Ret' is missing from the input data.")
    if f'{ticker}.Ret' not in data.columns:
        raise ValueError(f"Column '{ticker}.Ret' is missing from the input data.")
    if f"{ticker}.mom1m" not in data.columns:
        raise ValueError(f"Column '{ticker}.mom1m' is missing from the input data.")
    # Ensure data is properly copied to avoid modifying the original DataFrame
    data1 = data[['date', 'MMM.Ret', 'MMM.mom1m']].copy()
    data1 = data1.merge(snp500[['date',f'{snpTicker}.Ret']], 
                        on='date', how = 'inner')
    # Add market return lags
    for lg in range(1, 5):  # Updated to include lag 4, as it's used in the 4-lag regression
        data1[f'mkt.ret.lag{lg}'] = data1[f'{snpTicker}.Ret'].shift(lg)

    # Drop rows with NaN values
    data1 = data1.dropna()
    # Initialize result storage
    price_delay_series = []
    dates = list(data1['date'])

    # Apply rolling regression
    for i in range(window_size, len(data1)):
        # Select rolling window data
        window_df = data1.iloc[i - window_size:i]
        # 1-lag regression
        X1 = sm.add_constant(window_df["mkt.ret.lag1"])
        y = window_df[f"{ticker}.mom1m"]
        model1 = sm.OLS(y, X1).fit()
        R2_1 = model1.rsquared

        # 4-lag regression
        X4 = sm.add_constant(window_df[['mkt.ret.lag1', 'mkt.ret.lag2', 
                                        'mkt.ret.lag3', 'mkt.ret.lag4']])
        model4 = sm.OLS(y, X4).fit()
        R2_4 = model4.rsquared

        # Compute price delay ratio
        price_delay_ratio = 1 - (R2_1 / R2_4) if R2_4 > 0 else None
        price_delay_series.append((dates[i], price_delay_ratio))

    # Convert results to DataFrame
    price_delay_df = pd.DataFrame(price_delay_series, 
                                  columns=["date", f"{ticker}.pricedelay"])
    # set date as datetime
    price_delay_df['date'] = pd.to_datetime(price_delay_df['date'])
    # Ensure alignment based on dates
    price_delay_df.set_index("date", inplace=True)
    print('%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%')
    print(price_delay_df.head())
    data.set_index('date', inplace=True)
    print('%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%')
    print(data.head())
    # Perform a join instead of concat to match dates
    result = data.join(price_delay_df, how="left")

    # Reset index after the join
    result.reset_index(inplace=True)

    return result


def tech_indicators(data, ticker, snp500):
    """
    Calculates various technical indicators for a given ticker and S&P500 market data.

    Parameters:
        data (DataFrame): A DataFrame containing the stock data for the ticker.
        ticker (str): The stock ticker symbol (e.g., 'AAPL').
        snp500 (DataFrame): A DataFrame containing S&P500 data, including market returns.

    Returns:
        DataFrame: A DataFrame with the following additional calculated indicators:
            - {ticker}.M18: 18-period rolling mean of the closing price.
            - {ticker}.M36: 36-period rolling mean of the closing price.
            - {ticker}.S18: 18-period rolling standard deviation of the closing price.
            - {ticker}.S36: 36-period rolling standard deviation of the closing price.
            - {ticker}.E9 or {ticker}.E18: Exponential moving averages with spans of 9 or 18.
            - {ticker}BBU: Upper Bollinger Band (18-period mean + 2 std deviations).
            - {ticker}BBL: Lower Bollinger Band (18-period mean - 2 std deviations).
            - {ticker}.direction: Directional change in the closing price.
            - {ticker}.momXm: Momentum indicators (1, 6, 12, and 36-month lags).
            - {ticker}.chmom: Change in 12-month momentum.
            - {ticker}.dolvol: Dollar volume (Closing price * Volume).
            - {ticker}.var: Rolling variance of the 1-month momentum over 36 periods.
            - {ticker}.cov: Rolling covariance of 1-month momentum with S&P500 returns.
            - {ticker}.beta: Beta (covariance divided by variance).
            - {ticker}.betasq: Beta squared.

    Notes:
        - Bollinger Bands and other indicators are calculated using 18-period metrics.
        - The function calculates beta and its square over a 3-year (36-period) rolling window.

    Example:
        df = tech_indicators(stock_data, 'AAPL', sp500_data)
    """         
    # Compute additional metrics
    df = data.copy()
    close = ticker+'.Close'
    for m in [18,36]:
        df[f'{ticker}.M{m}'] = df[close].rolling(m).mean()
        df[f'{ticker}.S{m}'] = df[close].rolling(m).std()
        m = 9 if m == 18 else 18
        df[f'{ticker}.E{m}'] = df[close].ewm(span=m, adjust=False).mean()
    df[f'{ticker}BBU'] = df[f'{ticker}.M18'] + 2 * df[f'{ticker}.S18']
    df[f'{ticker}BBL'] = df[f'{ticker}.M18'] - 2 * df[f'{ticker}.S18']
    df[f'{ticker}.direction'] = df[close]-df[close].shift(1)
    for m in [1,6,12,36]:
        df[f'{ticker}.mom{m}m'] = returns(df,close,m)
    df[f'{ticker}.chmom'] = df[f'{ticker}.mom1m']-df[f'{ticker}.mom1m'].shift(12)
    df[f'{ticker}.dolvol'] = df[close]*df[f'{ticker}.Volume']
    df[f'{ticker}.var'] = rolling_var(df[f'{ticker}.mom1m'],36) # over 3 year peiod
    df[f'{ticker}.cov'] = rolling_cov(df[f'{ticker}.mom1m'], snp500['^GSPC.Ret'],36) # over 3 year peiod
    df[f'{ticker}.beta'] = df[f'{ticker}.cov']/df[f'{ticker}.var'] # over 3 year peiod
    df[f'{ticker}.betasq'] = df[f'{ticker}.beta']*df[f'{ticker}.beta']
    # ticker_df['xs_ret'] = ticker_df['mom1m'] - macro['DGS10']
    # ticker_df = pd.concat([ticker_df,snp500], axis=1)
    return regress_on_mkt(df,snp500, ticker, window_size=36)

In [5]:
def fetch_yahoo_data(ticker= 'MMM', START_DATE='2000-03-01', END_DATE = '2015-12-31',
                     technicals=False, snp500=None):
    """
    Fetch monthly stock market data from Yahoo Finance and compute additional metrics.

    Parameters:
        ticker (str): The stock ticker symbol (e.g., 'AAPL').
        START_DATE (str): Start date for the data in 'YYYY-MM-DD' format.
        END_DATE (str): End date for the data in 'YYYY-MM-DD' format.

    Returns:
        DataFrame: A Pandas DataFrame containing the following columns:
            - date: The date of the data point.
            - {ticker}: Adjusted closing price for the ticker.
            - {ticker}.M18: 18-month rolling mean of adjusted closing price.
            - {ticker}.M36: 36-month rolling mean of adjusted closing price.
            - {ticker}.S18: 18-month rolling standard deviation.
            - {ticker}.S36: 36-month rolling standard deviation.
            - {ticker}BBU: Upper Bollinger Band (mean + 2 standard deviations).
            - {ticker}BBL: Lower Bollinger Band (mean - 2 standard deviations).
            - {ticker}.E12: 12-period exponential moving average.
            - {ticker}.E26: 26-period exponential moving average.
            - {ticker}.Ret: Logarithmic returns.
            - {ticker}.Vol: Rolling annualized volatility (252 trading days).

    Returns None if no data is available.
    """
    try:
        # Download data from Yahoo Finance
        df = yf.download(ticker, start=START_DATE, end=END_DATE, interval="1mo")
        
        if not df.empty:
            # Prepare the DataFrame
            close = ticker+'.Close'
            df.columns = df.columns.droplevel('Ticker')
            new_colz = {old_col: ticker+'.'+old_col for old_col in list(df.columns)}
            df = df.rename(columns = new_colz)
            df =df.reset_index()
            df.rename(columns={"Date": "date"}, inplace=True) 
            df[f'{ticker}.Ret'] = np.log(df[close] / df[close].shift(1))
            df[f'{ticker}.Vol'] = df[f'{ticker}.Ret'].rolling(12).std() * np.sqrt(12) 
            if technicals:
                df = tech_indicators(data=df,ticker=ticker,snp500=snp500)   
            return df
        else:
            print("No data available for the given ticker and date range.")
            return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

In [10]:
start_date = '2000-03-01'
end_date = '2015-12-31'
snp500 = fetch_yahoo_data('^GSPC',start_date,end_date)
snp500.head()

[*********************100%***********************]  1 of 1 completed

Price,date,^GSPC.Close,^GSPC.High,^GSPC.Low,^GSPC.Open,^GSPC.Volume,^GSPC.Ret,^GSPC.Vol
0,2000-03-01,1498.579956,1552.869995,1346.619995,1366.420044,26156200000,NaN,NaN
1,2000-04-01,1452.430054,1527.189941,1339.400024,1498.579956,20106460000,-0.031280,NaN
2,2000-05-01,1420.599976,1481.510010,1361.089966,1452.430054,19898300000,-0.022159,NaN
3,2000-06-01,1454.599976,1488.930054,1420.599976,1420.599976,21738300000,0.023652,NaN
4,2000-07-01,1430.829956,1517.319946,1413.890015,1454.599976,19089100000,-0.016476,NaN

In [44]:
mmm = fetch_yahoo_data('MMM',start_date,end_date,technicals=True,snp500=snp500)
mmm.head()

[*********************100%***********************]  1 of 1 completed

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            MMM.pricedelay
date
2003-08-01        0.416530
2003-09-01        0.423831
2003-10-01        0.394224
2003-11-01        0.430739
2003-12-01        0.426360
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Price       MMM.Close   MMM.High    MMM.Low   MMM.Open  MMM.Volume   MMM.Ret  \
date
2000-03-01  18.523571  19.791592  16.353554  18.235978   104198154       NaN
2000-04-01  18.118330  20.562866  17.843809  18.693513    82476160 -0.022120
2000-05-01  17.935314  19.098756  17.412419  18.131399    62180994 -0.010153
2000-06-01  17.472658  18.498914  16.933215  18.117356    72224527 -0.026134
2000-07-01  18.959410  19.288339  17.472656  17.472656    57964139  0.081663

Price       MMM.Vol  MMM.M18  MMM.S18     MMM.E9  ...  MMM.mom1m  MMM.mom6m  \
date                                              ...
2000-03-01      NaN      NaN      NaN  18.523571  ...        NaN        NaN
2000-04-01      NaN      NaN      NaN  18.442523  ...  -0.021877        NaN
2000-05-01      NaN      NaN      NaN  18.341081  ...  -0.010101        NaN
2000-06-01      NaN      NaN      NaN  18.167396  ...  -0.025796        NaN
2000-07-01      NaN      NaN      NaN  18.325799  ...   0.085090        NaN

Price       MMM.mom12m  MMM.mom36m  MMM.chmom    MMM.dolvol  MMM.var  MMM.cov  \
date
2000-03-01         NaN         NaN        NaN  1.930122e+09      NaN      NaN
2000-04-01         NaN         NaN        NaN  1.494330e+09      NaN      NaN
2000-05-01         NaN         NaN        NaN  1.115236e+09      NaN      NaN
2000-06-01         NaN         NaN        NaN  1.261954e+09      NaN      NaN
2000-07-01         NaN         NaN        NaN  1.098966e+09      NaN      NaN

Price       MMM.beta  MMM.betasq
date
2000-03-01       NaN         NaN
2000-04-01       NaN         NaN
2000-05-01       NaN         NaN
2000-06-01       NaN         NaN
2000-07-01       NaN         NaN

[5 rows x 26 columns]

,date,MMM.Close,MMM.High,MMM.Low,MMM.Open,MMM.Volume,MMM.Ret,MMM.Vol,MMM.M18,MMM.S18,...,MMM.mom6m,MMM.mom12m,MMM.mom36m,MMM.chmom,MMM.dolvol,MMM.var,MMM.cov,MMM.beta,MMM.betasq,MMM.pricedelay
0,2000-03-01,18.523571,19.791592,16.353554,18.235978,104198154,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.930122e+09,NaN,NaN,NaN,NaN,NaN
1,2000-04-01,18.118330,20.562866,17.843809,18.693513,82476160,-0.022120,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.494330e+09,NaN,NaN,NaN,NaN,NaN
2,2000-05-01,17.935314,19.098756,17.412419,18.131399,62180994,-0.010153,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.115236e+09,NaN,NaN,NaN,NaN,NaN
3,2000-06-01,17.472658,18.498914,16.933215,18.117356,72224527,-0.026134,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.261954e+09,NaN,NaN,NaN,NaN,NaN
4,2000-07-01,18.959410,19.288339,17.472656,17.472656,57964139,0.081663,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.098966e+09,NaN,NaN,NaN,NaN,NaN

In [45]:
mmm.tail()

,date,MMM.Close,MMM.High,MMM.Low,MMM.Open,MMM.Volume,MMM.Ret,MMM.Vol,MMM.M18,MMM.S18,...,MMM.mom6m,MMM.mom12m,MMM.mom36m,MMM.chmom,MMM.dolvol,MMM.var,MMM.cov,MMM.beta,MMM.betasq,MMM.pricedelay
185,2015-08-01,85.485428,92.161158,80.589891,90.687688,70833578,-0.062716,0.145172,89.705864,6.686540,...,-0.146585,0.010860,0.649054,-0.082864,6.055239e+09,0.001727,0.000892,0.516657,0.266935,0.238852
186,2015-09-01,85.856277,88.145457,81.992532,84.469445,78041033,0.004329,0.144677,90.076576,6.238833,...,-0.129073,0.025753,0.648931,0.014583,6.700313e+09,0.001727,0.000908,0.525431,0.276078,0.152972
187,2015-10-01,95.206787,96.097022,83.918356,86.122746,65023890,0.103377,0.158535,90.855535,5.931164,...,0.018640,0.048035,0.929124,0.023576,6.190716e+09,0.001831,0.001034,0.564675,0.318858,0.137631
188,2015-11-01,94.825272,96.950927,94.231771,95.388479,50716380,-0.004015,0.153560,91.501101,5.676401,...,-0.002598,0.002627,0.850622,-0.045108,4.809195e+09,0.001835,0.001045,0.569494,0.324324,0.230830
189,2015-12-01,91.827385,96.734515,89.419539,95.344667,73095691,-0.032125,0.152616,91.929246,5.369322,...,-0.010466,-0.059115,0.743879,-0.063547,6.712186e+09,0.001900,0.001085,0.571048,0.326096,0.211456

In [43]:
data = regress_on_mkt(mmm, snp500, 'MMM', window_size=60)
data.head()

KeyError: "['date'] not in index"

In [128]:
macro = get_economic_data(start_date, end_date)
macro.head()

Lets download TB3MS
Lets download DGS10

        date TB3MS DGS10
0 2000-03-01  5.69  6.26
1 2000-04-01  5.66  5.99
2 2000-05-01  5.79  6.44
3 2000-06-01  5.69  6.10
4 2000-07-01  5.96  6.05

In [126]:
macro.set_index("date", inplace=True)
snp500.set_index("date", inplace=True)
# Perform a join instead of concat to match dates
result = snp500.join(macro, how="left")
result.head()

,^GSPC.Close,^GSPC.High,^GSPC.Low,^GSPC.Open,^GSPC.Volume,^GSPC.Ret,^GSPC.Vol,TB3MS,DGS10
date,,,,,,,,,
2000-03-01,1498.579956,1552.869995,1346.619995,1366.420044,26156200000,NaN,NaN,5.69,6.26
2000-04-01,1452.430054,1527.189941,1339.400024,1498.579956,20106460000,-0.031280,NaN,5.66,5.99
2000-05-01,1420.599976,1481.510010,1361.089966,1452.430054,19898300000,-0.022159,NaN,5.79,6.44
2000-06-01,1454.599976,1488.930054,1420.599976,1420.599976,21738300000,0.023652,NaN,5.69,6.10
2000-07-01,1430.829956,1517.319946,1413.890015,1454.599976,19089100000,-0.016476,NaN,5.96,6.05

In [114]:
data = fetch_yahoo_data(ticker='AAPL',technicals=True,snp500=snp500)
data.head()

[*********************100%***********************]  1 of 1 completed

Price,date,AAPL.Close,AAPL.High,AAPL.Low,AAPL.Open,AAPL.Volume,AAPL.Ret,AAPL.Vol,AAPL.M18,AAPL.S18,...,AAPL.mom1m,AAPL.mom6m,AAPL.mom12m,AAPL.mom36m,AAPL.chmom,AAPL.dolvol,AAPL.var,AAPL.cov,AAPL.beta,AAPL.betasq
0,2000-03-01,1.021772,1.131331,0.857667,0.891993,8698356800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.887737e+09,NaN,NaN,NaN,NaN
1,2000-04-01,0.933372,1.049515,0.789017,1.019421,8662404800,-0.090490,NaN,NaN,NaN,...,-0.086516,NaN,NaN,NaN,NaN,8.085246e+09,NaN,NaN,NaN,NaN
2,2000-05-01,0.631966,0.949829,0.615038,0.939484,9807750400,-0.389969,NaN,NaN,NaN,...,-0.322922,NaN,NaN,NaN,NaN,6.198160e+09,NaN,NaN,NaN,NaN
3,2000-06-01,0.788076,0.867072,0.604693,0.615038,8105204800,0.220760,NaN,NaN,NaN,...,0.247024,NaN,NaN,NaN,NaN,6.387520e+09,NaN,NaN,NaN,NaN
4,2000-07-01,0.764566,0.912212,0.705319,0.784315,5746770400,-0.030287,NaN,NaN,NaN,...,-0.029833,NaN,NaN,NaN,NaN,4.393783e+09,NaN,NaN,NaN,NaN

In [105]:
ticker='AAPL'
# Remove the second level ('Ticker') from the MultiIndex columns
df = data.copy()
close = ticker+'.Close'

for m in [18,36]:
    df[f'{ticker}.M{m}'] = df[close].rolling(m).mean()
    df[f'{ticker}.S{m}'] = df[close].rolling(m).std()
    m = 9 if m == 18 else 18
    df[f'{ticker}.E{m}'] = df[close].ewm(span=m, adjust=False).mean()
df[f'{ticker}BBU'] = df[f'{ticker}.M18'] + 2 * df[f'{ticker}.S18']
df[f'{ticker}BBL'] = df[f'{ticker}.M18'] - 2 * df[f'{ticker}.S18']
df[f'{ticker}.direction'] = df[close]-df[close].shift(1)
for m in [1,6,12,36]:
    df[f'{ticker}.mom{m}m'] = returns(df,close,m)
df[f'{ticker}.chmom'] = df[f'{ticker}.mom1m']-df[f'{ticker}.mom1m'].shift(12)
df[f'{ticker}.dolvol'] = df[close]*df[f'{ticker}.Volume']
df[f'{ticker}.var'] = rolling_var(df[f'{ticker}.mom1m'],36) # over 3 year peiod
df[f'{ticker}.cov'] = rolling_cov(df[f'{ticker}.mom1m'], snp500['^GSPC.Ret'],36) # over 3 year peiod
df[f'{ticker}.beta'] = df[f'{ticker}.cov']/df[f'{ticker}.var'] # over 3 year peiod
df[f'{ticker}.betasq'] = df[f'{ticker}.beta']*df[f'{ticker}.beta']
df.head()

Price,date,AAPL.Close,AAPL.High,AAPL.Low,AAPL.Open,AAPL.Volume,AAPL.Ret,AAPL.Vol,AAPL.M18,AAPL.S18,...,AAPL.mom1m,AAPL.mom6m,AAPL.mom12m,AAPL.mom36m,AAPL.chmom,AAPL.dolvol,AAPL.var,AAPL.cov,AAPL.beta,AAPL.betasq
0,2000-03-01,1.021772,1.131331,0.857667,0.891993,8698356800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.887737e+09,NaN,NaN,NaN,NaN
1,2000-04-01,0.933372,1.049515,0.789017,1.019421,8662404800,-0.090490,NaN,NaN,NaN,...,-0.086516,NaN,NaN,NaN,NaN,8.085246e+09,NaN,NaN,NaN,NaN
2,2000-05-01,0.631966,0.949829,0.615038,0.939484,9807750400,-0.389969,NaN,NaN,NaN,...,-0.322922,NaN,NaN,NaN,NaN,6.198160e+09,NaN,NaN,NaN,NaN
3,2000-06-01,0.788076,0.867072,0.604693,0.615038,8105204800,0.220760,NaN,NaN,NaN,...,0.247024,NaN,NaN,NaN,NaN,6.387520e+09,NaN,NaN,NaN,NaN
4,2000-07-01,0.764566,0.912212,0.705319,0.784315,5746770400,-0.030287,NaN,NaN,NaN,...,-0.029833,NaN,NaN,NaN,NaN,4.393783e+09,NaN,NaN,NaN,NaN

In [96]:
df1 = regress_on_mkt(df,snp500, ticker='AAPL', window_size=36)
df1.head()

,date,AAPL.Close,AAPL.High,AAPL.Low,AAPL.Open,AAPL.Volume,AAPL.Ret,AAPL.Vol,AAPL.M18,AAPL.M36,...,AAPL.mom6m,AAPL.mom12m,AAPL.mom36m,AAPL.chmom,AAPL.dolvol,AAPL.var,AAPL.cov,AAPL.beta,AAPL.betasq,pricedelay
0,2000-03-01,1.021772,1.131331,0.857667,0.891993,8698356800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.887737e+09,NaN,NaN,NaN,NaN,NaN
1,2000-04-01,0.933372,1.049515,0.789017,1.019421,8662404800,-0.090490,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.085246e+09,NaN,NaN,NaN,NaN,NaN
2,2000-05-01,0.631966,0.949829,0.615038,0.939484,9807750400,-0.389969,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.198160e+09,NaN,NaN,NaN,NaN,NaN
3,2000-06-01,0.788076,0.867072,0.604693,0.615038,8105204800,0.220760,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.387520e+09,NaN,NaN,NaN,NaN,NaN
4,2000-07-01,0.764566,0.912212,0.705319,0.784315,5746770400,-0.030287,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.393783e+09,NaN,NaN,NaN,NaN,NaN

In [ ]:
ticker = 'MMM'
close = 'Close'+'.'+ticker
ticker_df = data_df.copy()
ticker_df['direction'] = ticker_df[close]-ticker_df[close].shift(1)
ticker_df['mom1m'] = returns(ticker_df,close,1)
ticker_df['mom6m'] = returns(ticker_df,close,6)
ticker_df['mom12m'] = returns(ticker_df,close,12)
ticker_df['mom36m'] = returns(ticker_df,close,36)
ticker_df['chmom'] = ticker_df['mom1m']-ticker_df['mom1m'].shift(12)
ticker_df['dolvol'] = ticker_df[close]*ticker_df['Volume'+'.'+ticker]
ticker_df['var'] = rolling_var(ticker_df['mom1m'],36) # over 3 year peiod
ticker_df['cov'] = rolling_cov(ticker_df['mom1m'], snp500['returns'],36) # over 3 year peiod
ticker_df['beta'] = ticker_df['cov']/ticker_df['var'] # over 3 year peiod
ticker_df['betasq'] = ticker_df['beta']*ticker_df['beta'] # over 3 year peiod'''
ticker_df = regress_on_mkt(ticker_df)
ticker_df.head()

TypeError: 'method' object is not subscriptable

In [31]:
data.info["marketCap"]

TypeError: 'method' object is not subscriptable

In [35]:
ticker.quarterly_balance_sheet.index

Index(['Treasury Shares Number', 'Ordinary Shares Number', 'Share Issued',
       'Total Debt', 'Tangible Book Value', 'Invested Capital',
       'Working Capital', 'Net Tangible Assets', 'Capital Lease Obligations',
       'Common Stock Equity', 'Total Capitalization',
       'Total Equity Gross Minority Interest', 'Stockholders Equity',
       'Gains Losses Not Affecting Retained Earnings',
       'Other Equity Adjustments', 'Foreign Currency Translation Adjustments',
       'Minimum Pension Liabilities', 'Treasury Stock', 'Retained Earnings',
       'Additional Paid In Capital', 'Capital Stock', 'Common Stock',
       'Preferred Stock', 'Total Liabilities Net Minority Interest',
       'Total Non Current Liabilities Net Minority Interest',
       'Other Non Current Liabilities', 'Employee Benefits',
       'Non Current Pension And Other Postretirement Benefit Plans',
       'Long Term Debt And Capital Lease Obligation',
       'Long Term Capital Lease Obligation', 'Long Term Debt',
       'Long Term Provisions', 'Current Liabilities',
       'Current Debt And Capital Lease Obligation', 'Current Debt',
       'Other Current Borrowings', 'Current Provisions',
       'Payables And Accrued Expenses', 'Current Accrued Expenses', 'Payables',
       'Accounts Payable', 'Total Assets', 'Total Non Current Assets',
       'Other Non Current Assets', 'Goodwill And Other Intangible Assets',
       'Other Intangible Assets', 'Goodwill', 'Net PPE',
       'Accumulated Depreciation', 'Gross PPE', 'Other Properties',
       'Machinery Furniture Equipment', 'Buildings And Improvements',
       'Land And Improvements', 'Properties', 'Current Assets',
       'Other Current Assets', 'Inventory',
       'Inventories Adjustments Allowances', 'Finished Goods',
       'Work In Process', 'Raw Materials', 'Receivables',
       'Accounts Receivable', 'Allowance For Doubtful Accounts Receivable',
       'Gross Accounts Receivable',
       'Cash Cash Equivalents And Short Term Investments',
       'Other Short Term Investments', 'Cash And Cash Equivalents'],
      dtype='object')

In [36]:
ticker.balance_sheet

,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Treasury Shares Number,43180265.0,43180265.0,39528515.0,33055027.0,NaN
Ordinary Shares Number,147527329.0,147527327.0,151179079.0,157652567.0,NaN
Share Issued,190577214.0,190577212.0,190577214.0,190577214.0,NaN
Total Debt,216700000.0,155200000.0,366900000.0,219000000.0,NaN
Tangible Book Value,800700000.0,874300000.0,780100000.0,839600000.0,NaN
...,...,...,...,...,...
Allowance For Doubtful Accounts Receivable,-12900000.0,-10100000.0,-9500000.0,-9500000.0,NaN
Gross Accounts Receivable,554300000.0,606100000.0,590700000.0,643900000.0,NaN
Cash Cash Equivalents And Short Term Investments,276100000.0,363400000.0,481800000.0,631400000.0,NaN
Other Short Term Investments,36500000.0,23500000.0,90600000.0,188100000.0,NaN
Cash And Cash Equivalents,239600000.0,339900000.0,391200000.0,443300000.0,NaN

In [ ]:
API_KEY = "YDHYBF65R207CFK6"
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=' + 'IBM' + '&apikey=' + API_KEY
r = requests.get(url)
data = r.json()

print(data)

KeyError: 'Mera Data'

In [57]:
for k in data['Monthly Time Series'].keys():
    print(data['Monthly Time Series'][k])

{'1. open': '254.7350', '2. high': '266.4500', '3. low': '243.0400', '4. close': '245.8000', '5. volume': '43721821'}
{'1. open': '252.4000', '2. high': '265.7200', '3. low': '246.5400', '4. close': '252.4400', '5. volume': '94123851'}
{'1. open': '221.8200', '2. high': '261.8000', '3. low': '214.6100', '4. close': '255.7000', '5. volume': '92424171'}
{'1. open': '227.5000', '2. high': '239.3500', '3. low': '217.6523', '4. close': '219.8300', '5. volume': '81535689'}
{'1. open': '207.7700', '2. high': '230.3600', '3. low': '204.0700', '4. close': '227.4100', '5. volume': '77280587'}
{'1. open': '220.6300', '2. high': '237.3700', '3. low': '203.5100', '4. close': '206.7200', '5. volume': '105624376'}
{'1. open': '201.9100', '2. high': '224.1500', '3. low': '199.3350', '4. close': '221.0800', '5. volume': '83415811'}
{'1. open': '192.8100', '2. high': '202.1700', '3. low': '181.8100', '4. close': '202.1300', '5. volume': '65453729'}
{'1. open': '173.4500', '2. high': '196.2600', '3. low': '173.3800', '4. close': '192.1400', '5. volume': '81258646'}
{'1. open': '166.5400', '2. high': '178.4599', '3. low': '163.5300', '4. close': '172.9500', '5. volume': '70706301'}
{'1. open': '165.6900', '2. high': '175.4600', '3. low': '162.6200', '4. close': '166.8500', '5. volume': '78620355'}
{'1. open': '190.0000', '2. high': '193.2800', '3. low': '165.2605', '4. close': '166.2000', '5. volume': '98297181'}
{'1. open': '185.4900', '2. high': '199.1800', '3. low': '185.1800', '4. close': '190.9600', '5. volume': '99921776'}
{'1. open': '183.6300', '2. high': '188.9500', '3. low': '178.7500', '4. close': '185.0300', '5. volume': '88679550'}
{'1. open': '162.8300', '2. high': '196.9000', '3. low': '157.8850', '4. close': '183.6600', '5. volume': '128121557'}
{'1. open': '158.4100', '2. high': '166.3400', '3. low': '158.0000', '4. close': '163.5500', '5. volume': '87358302'}
{'1. open': '145.0000', '2. high': '158.6000', '3. low': '144.4500', '4. close': '158.5600', '5. volume': '78460252'}
{'1. open': '140.0400', '2. high': '144.7600', '3. low': '135.8700', '4. close': '144.6400', '5. volume': '94386980'}
{'1. open': '147.2600', '2. high': '151.9299', '3. low': '139.6100', '4. close': '140.3000', '5. volume': '82806487'}
{'1. open': '144.2500', '2. high': '147.7275', '3. low': '139.7600', '4. close': '146.8300', '5. volume': '84274205'}
{'1. open': '133.4200', '2. high': '144.6050', '3. low': '131.5500', '4. close': '144.1800', '5. volume': '85778938'}
{'1. open': '128.4400', '2. high': '139.4690', '3. low': '127.7800', '4. close': '133.8100', '5. volume': '100722016'}
{'1. open': '126.3500', '2. high': '130.0699', '3. low': '120.5500', '4. close': '128.5900', '5. volume': '95710890'}
{'1. open': '130.9700', '2. high': '132.6100', '3. low': '124.5600', '4. close': '126.4100', '5. volume': '83664114'}
{'1. open': '128.9000', '2. high': '131.4800', '3. low': '121.7100', '4. close': '131.0900', '5. volume': '138093084'}
{'1. open': '134.4900', '2. high': '137.3900', '3. low': '128.8600', '4. close': '129.3000', '5. volume': '76080679'}
{'1. open': '141.1000', '2. high': '147.1800', '3. low': '132.9800', '4. close': '134.7300', '5. volume': '105576019'}
{'1. open': '149.9800', '2. high': '153.2100', '3. low': '137.1950', '4. close': '140.8900', '5. volume': '86426226'}
{'1. open': '138.2500', '2. high': '150.4600', '3. low': '133.9700', '4. close': '148.9000', '5. volume': '93620235'}
{'1. open': '120.1600', '2. high': '138.8615', '3. low': '115.5450', '4. close': '138.2900', '5. volume': '113480787'}
{'1. open': '128.4000', '2. high': '130.9900', '3. low': '118.6100', '4. close': '118.8100', '5. volume': '87256958'}
{'1. open': '130.7500', '2. high': '139.3400', '3. low': '128.4000', '4. close': '128.4500', '5. volume': '77392342'}
{'1. open': '141.0000', '2. high': '141.8700', '3. low': '125.1300', '4. close': '130.7900', '5. volume': '129801061'}
{'1. open': '139.6700', '2. high': '144.7300', '3. low': '132.8500', '4. close': '141.1900', '5. volume': '105815743'}
{'1. open': '133.0000', '2. high': '139.8300', '3. low': '125.8000', '4. close': '138.8400', '5. volume': '113207659'}
{'1. open': '129.6600', '2. high': '141.8800', '3. low': '124.9100', '4. close': '132.2100', '5. volume': '107525264'}
{'1. open': '122.6700', '2. high': '133.0800', '3. low': '120.7000', '4. close': '130.0200', '5. volume': '96447210'}
{'1. open': '133.7600', '2. high': '138.8200', '3. low': '118.8100', '4. close': '122.5100', '5. volume': '98492968'}
{'1. open': '134.0700', '2. high': '142.2000', '3. low': '124.1930', '4. close': '133.5700', '5. volume': '147238382'}
{'1. open': '118.2500', '2. high': '134.9900', '3. low': '116.5600', '4. close': '133.6600', '5. volume': '113930079'}
{'1. open': '125.0500', '2. high': '127.2900', '3. low': '114.5600', '4. close': '117.1000', '5. volume': '119252012'}
{'1. open': '141.0000', '2. high': '146.0000', '3. low': '124.6200', '4. close': '125.1000', '5. volume': '144097758'}
{'1. open': '139.9800', '2. high': '140.5700', '3. low': '132.7800', '4. close': '138.9300', '5. volume': '76644238'}
{'1. open': '141.4500', '2. high': '144.7000', '3. low': '137.2100', '4. close': '140.3400', '5. volume': '69687056'}
{'1. open': '146.9600', '2. high': '147.5000', '3. low': '136.2089', '4. close': '140.9600', '5. volume': '110625907'}
{'1. open': '145.0000', '2. high': '152.8400', '3. low': '143.0400', '4. close': '146.5900', '5. volume': '84365220'}
{'1. open': '143.8100', '2. high': '148.5150', '3. low': '140.9200', '4. close': '143.7400', '5. volume': '98036425'}
{'1. open': '133.7600', '2. high': '148.7400', '3. low': '130.3800', '4. close': '141.8800', '5. volume': '122920494'}
{'1. open': '120.3500', '2. high': '137.0700', '3. low': '118.7550', '4. close': '133.2600', '5. volume': '127967821'}
{'1. open': '119.9000', '2. high': '124.3500', '3. low': '118.1200', '4. close': '118.9300', '5. volume': '106339228'}
{'1. open': '125.8500', '2. high': '132.2400', '3. low': '117.3600', '4. close': '119.1100', '5. volume': '176168962'}
{'1. open': '123.9000', '2. high': '127.6900', '3. low': '121.7200', '4. close': '125.8800', '5. volume': '102587006'}
{'1. open': '112.6500', '2. high': '125.3130', '3. low': '111.1600', '4. close': '123.5200', '5. volume': '103461100'}
{'1. open': '122.3600', '2. high': '135.5000', '3. low': '105.9200', '4. close': '111.6600', '5. volume': '159130911'}
{'1. open': '122.8500', '2. high': '129.9500', '3. low': '116.4800', '4. close': '121.6700', '5. volume': '84510174'}
{'1. open': '123.5000', '2. high': '130.4700', '3. low': '122.1500', '4. close': '123.3100', '5. volume': '74033007'}
{'1. open': '120.2700', '2. high': '132.1700', '3. low': '115.2000', '4. close': '122.9400', '5. volume': '113972765'}
{'1. open': '124.6400', '2. high': '135.8800', '3. low': '115.8800', '4. close': '120.7700', '5. volume': '120931250'}
{'1. open': '123.1900', '2. high': '126.9700', '3. low': '111.8100', '4. close': '124.9000', '5. volume': '92864791'}
{'1. open': '106.3600', '2. high': '129.3100', '3. low': '104.5200', '4. close': '125.5600', '5. volume': '130400316'}
{'1. open': '130.7500', '2. high': '136.1000', '3. low': '90.5600', '4. close': '110.9300', '5. volume': '189585053'}
{'1. open': '144.2500', '2. high': '158.7500', '3. low': '126.3600', '4. close': '130.1500', '5. volume': '118092333'}
{'1. open': '135.0000', '2. high': '145.7900', '3. low': '133.2000', '4. close': '143.7300', '5. volume': '112864967'}
{'1. open': '134.4500', '2. high': '136.4200', '3. low': '130.6900', '4. close': '134.0400', '5. volume': '71661951'}
{'1. open': '134.5000', '2. high': '139.1400', '3. low': '132.7500', '4. close': '134.4500', '5. volume': '64898948'}
{'1. open': '145.5900', '2. high': '147.3500', '3. low': '130.9000', '4. close': '133.7300', '5. volume': '92647927'}
{'1. open': '134.8500', '2. high': '146.5700', '3. low': '133.3300', '4. close': '145.4200', '5. volume': '62083780'}
{'1. open': '148.9000', '2. high': '152.9500', '3. low': '128.8300', '4. close': '135.5300', '5. volume': '96719129'}
{'1. open': '139.6000', '2. high': '151.9400', '3. low': '139.1300', '4. close': '148.2400', '5. volume': '80175943'}
{'1. open': '127.1000', '2. high': '140.1500', '3. low': '127.0600', '4. close': '137.9000', '5. volume': '61342985'}
{'1. open': '140.5500', '2. high': '141.8100', '3. low': '126.8500', '4. close': '126.9900', '5. volume': '75537897'}
{'1. open': '141.5100', '2. high': '145.3900', '3. low': '136.2600', '4. close': '140.2700', '5. volume': '80199229'}
{'1. open': '139.3100', '2. high': '142.1200', '3. low': '133.5800', '4. close': '141.1000', '5. volume': '74688899'}
{'1. open': '134.9700', '2. high': '140.4900', '3. low': '132.1200', '4. close': '138.1300', '5. volume': '68462024'}
{'1. open': '112.0100', '2. high': '135.4100', '3. low': '111.6900', '4. close': '134.4200', '5. volume': '120388583'}
{'1. open': '125.6700', '2. high': '126.5900', '3. low': '105.9400', '4. close': '113.6700', '5. volume': '115600988'}
{'1. open': '115.5000', '2. high': '125.0600', '3. low': '114.5400', '4. close': '124.2700', '5. volume': '141719180'}
{'1. open': '151.7100', '2. high': '154.3600', '3. low': '114.0900', '4. close': '115.4300', '5. volume': '198093801'}
{'1. open': '145.9800', '2. high': '153.3500', '3. low': '144.8100', '4. close': '151.2100', '5. volume': '95868702'}
{'1. open': '144.7600', '2. high': '147.9300', '3. low': '142.0000', '4. close': '146.4800', '5. volume': '79196876'}
{'1. open': '138.2800', '2. high': '150.5400', '3. low': '138.2000', '4. close': '144.9300', '5. volume': '95015127'}
{'1. open': '142.4300', '2. high': '147.5200', '3. low': '137.4500', '4. close': '139.7000', '5. volume': '90243111'}
{'1. open': '144.6500', '2. high': '146.2000', '3. low': '139.9000', '4. close': '141.3100', '5. volume': '88812832'}
{'1. open': '153.3400', '2. high': '162.0000', '3. low': '144.1100', '4. close': '144.9600', '5. volume': '122893135'}
{'1. open': '155.5300', '2. high': '162.1100', '3. low': '148.5400', '4. close': '153.4300', '5. volume': '92113147'}
{'1. open': '163.1900', '2. high': '164.1300', '3. low': '144.4000', '4. close': '155.8300', '5. volume': '100673819'}
{'1. open': '154.5000', '2. high': '171.1300', '3. low': '153.5400', '4. close': '163.7000', '5. volume': '140197975'}
{'1. open': '154.4000', '2. high': '157.8500', '3. low': '151.4900', '4. close': '153.4200', '5. volume': '87525752'}
{'1. open': '154.1000', '2. high': '154.9000', '3. low': '146.2110', '4. close': '153.9700', '5. volume': '89208545'}
{'1. open': '145.3500', '2. high': '162.5100', '3. low': '145.2100', '4. close': '154.0600', '5. volume': '121490046'}
{'1. open': '142.9800', '2. high': '147.4200', '3. low': '141.6400', '4. close': '145.0800', '5. volume': '77056229'}
{'1. open': '145.0000', '2. high': '145.6700', '3. low': '139.1300', '4. close': '143.0300', '5. volume': '79260314'}
{'1. open': '153.5800', '2. high': '156.0250', '3. low': '143.6400', '4. close': '144.6700', '5. volume': '91242021'}
{'1. open': '152.8000', '2. high': '157.2000', '3. low': '150.8000', '4. close': '153.8300', '5. volume': '82652760'}
{'1. open': '160.0500', '2. high': '160.4200', '3. low': '149.7900', '4. close': '152.6300', '5. volume': '102455942'}
{'1. open': '173.8200', '2. high': '176.3300', '3. low': '159.6000', '4. close': '160.2900', '5. volume': '99850446'}
{'1. open': '180.4800', '2. high': '182.5500', '3. low': '172.0937', '4. close': '174.1400', '5. volume': '79476385'}
{'1. open': '175.0000', '2. high': '182.7900', '3. low': '172.8900', '4. close': '179.8200', '5. volume': '59817600'}
{'1. open': '167.0000', '2. high': '179.2500', '3. low': '165.3400', '4. close': '174.5200', '5. volume': '88671370'}
{'1. open': '161.9500', '2. high': '169.9520', '3. low': '158.3000', '4. close': '165.9900', '5. volume': '69463793'}
{'1. open': '153.5000', '2. high': '164.6600', '3. low': '151.0000', '4. close': '162.2200', '5. volume': '76340912'}
{'1. open': '158.0600', '2. high': '158.5300', '3. low': '147.7900', '4. close': '153.6900', '5. volume': '78325840'}
{'1. open': '158.3200', '2. high': '165.0000', '3. low': '153.2100', '4. close': '158.8500', '5. volume': '69951563'}
{'1. open': '160.6500', '2. high': '164.9500', '3. low': '157.8500', '4. close': '158.8800', '5. volume': '69680582'}
{'1. open': '152.1900', '2. high': '163.6000', '3. low': '149.9200', '4. close': '160.6200', '5. volume': '69930927'}
{'1. open': '153.0000', '2. high': '155.4800', '3. low': '142.5000', '4. close': '151.7800', '5. volume': '77115961'}
{'1. open': '146.5600', '2. high': '153.8100', '3. low': '142.9000', '4. close': '153.7400', '5. volume': '75248178'}
{'1. open': '150.5100', '2. high': '153.5200', '3. low': '142.6100', '4. close': '145.9400', '5. volume': '94431134'}
{'1. open': '132.2400', '2. high': '153.1000', '3. low': '132.0300', '4. close': '151.4500', '5. volume': '105698603'}
{'1. open': '124.4000', '2. high': '134.9200', '3. low': '116.9010', '4. close': '131.0300', '5. volume': '106703104'}
{'1. open': '135.6000', '2. high': '136.8900', '3. low': '118.0000', '4. close': '124.7900', '5. volume': '126204196'}
{'1. open': '139.5800', '2. high': '141.4000', '3. low': '133.9100', '4. close': '137.6200', '5. volume': '97650594'}
{'1. open': '140.5000', '2. high': '142.8000', '3. low': '131.6500', '4. close': '139.4200', '5. volume': '85421426'}
{'1. open': '145.3100', '2. high': '153.1470', '3. low': '137.3300', '4. close': '140.0800', '5. volume': '120622363'}
{'1. open': '144.8400', '2. high': '149.6800', '3. low': '141.1501', '4. close': '144.9700', '5. volume': '81761648'}
{'1. open': '161.7000', '2. high': '161.8500', '3. low': '140.6200', '4. close': '147.8900', '5. volume': '93750967'}
{'1. open': '163.9700', '2. high': '173.7800', '3. low': '158.5000', '4. close': '161.9900', '5. volume': '93805392'}
{'1. open': '170.2100', '2. high': '171.5601', '3. low': '162.1200', '4. close': '162.6600', '5. volume': '80845501'}
{'1. open': '173.2000', '2. high': '176.3000', '3. low': '168.8400', '4. close': '169.6500', '5. volume': '57916093'}
{'1. open': '160.2300', '2. high': '175.1303', '3. low': '158.3900', '4. close': '171.2900', '5. volume': '93821213'}
{'1. open': '161.6800', '2. high': '165.3500', '3. low': '153.4000', '4. close': '160.5000', '5. volume': '104899758'}
{'1. open': '154.0000', '2. high': '164.9900', '3. low': '151.5100', '4. close': '161.9400', '5. volume': '77654705'}
{'1. open': '161.3100', '2. high': '163.3100', '3. low': '149.5200', '4. close': '153.3100', '5. volume': '117395861'}
{'1. open': '161.6400', '2. high': '164.5200', '3. low': '150.5000', '4. close': '160.4400', '5. volume': '101614529'}
{'1. open': '164.2500', '2. high': '164.9700', '3. low': '159.8000', '4. close': '162.1700', '5. volume': '80018581'}
{'1. open': '189.9100', '2. high': '190.8900', '3. low': '161.1000', '4. close': '164.4000', '5. volume': '146272610'}
{'1. open': '192.6800', '2. high': '195.0000', '3. low': '188.1200', '4. close': '189.8300', '5. volume': '64033759'}
{'1. open': '190.5000', '2. high': '194.1330', '3. low': '183.5800', '4. close': '192.3000', '5. volume': '53441600'}
{'1. open': '181.7000', '2. high': '196.4000', '3. low': '181.7000', '4. close': '191.6700', '5. volume': '97597800'}
{'1. open': '184.7600', '2. high': '187.6500', '3. low': '179.2700', '4. close': '181.2700', '5. volume': '78501700'}
{'1. open': '196.3100', '2. high': '196.7400', '3. low': '182.3300', '4. close': '184.3600', '5. volume': '70018300'}
{'1. open': '193.1200', '2. high': '199.2100', '3. low': '187.0100', '4. close': '196.4700', '5. volume': '118447100'}
{'1. open': '183.3300', '2. high': '195.6300', '3. low': '182.2100', '4. close': '192.4900', '5. volume': '118984000'}
{'1. open': '176.0200', '2. high': '186.1200', '3. low': '172.1900', '4. close': '185.1700', '5. volume': '87054800'}
{'1. open': '187.2100', '2. high': '190.8100', '3. low': '175.3400', '4. close': '176.6800', '5. volume': '123489300'}
{'1. open': '179.4600', '2. high': '187.7900', '3. low': '172.7300', '4. close': '187.5700', '5. volume': '97993100'}
{'1. open': '179.8100', '2. high': '186.2400', '3. low': '177.3100', '4. close': '179.6800', '5. volume': '100984900'}
{'1. open': '185.3400', '2. high': '186.9900', '3. low': '172.5700', '4. close': '179.2100', '5. volume': '130967100'}
{'1. open': '183.6300', '2. high': '194.8900', '3. low': '182.3100', '4. close': '185.1800', '5. volume': '71488100'}
{'1. open': '196.6500', '2. high': '197.1700', '3. low': '181.1000', '4. close': '182.2700', '5. volume': '73077400'}
{'1. open': '192.1500', '2. high': '200.9400', '3. low': '190.2600', '4. close': '195.0400', '5. volume': '88079400'}
{'1. open': '208.2500', '2. high': '210.0500', '3. low': '188.4100', '4. close': '191.1100', '5. volume': '80215000'}
{'1. open': '201.8700', '2. high': '211.9800', '3. low': '199.2000', '4. close': '208.0200', '5. volume': '90683600'}
{'1. open': '212.8000', '2. high': '214.8900', '3. low': '187.6800', '4. close': '202.5400', '5. volume': '108666600'}
{'1. open': '200.6500', '2. high': '215.9000', '3. low': '199.3600', '4. close': '213.3000', '5. volume': '76023800'}
{'1. open': '204.6500', '2. high': '205.3500', '3. low': '197.5100', '4. close': '200.8300', '5. volume': '64144100'}
{'1. open': '194.0900', '2. high': '208.5800', '3. low': '190.3900', '4. close': '203.0700', '5. volume': '87636600'}
{'1. open': '190.7600', '2. high': '196.4500', '3. low': '186.9400', '4. close': '191.5500', '5. volume': '79320200'}
{'1. open': '194.9600', '2. high': '198.0000', '3. low': '184.7800', '4. close': '190.0700', '5. volume': '81892500'}
{'1. open': '208.0100', '2. high': '211.7900', '3. low': '190.5600', '4. close': '194.5300', '5. volume': '96155000'}
{'1. open': '196.6100', '2. high': '208.3200', '3. low': '193.2500', '4. close': '207.4500', '5. volume': '77341400'}
{'1. open': '196.9600', '2. high': '202.0000', '3. low': '193.0200', '4. close': '194.8500', '5. volume': '60653700'}
{'1. open': '196.3600', '2. high': '197.8400', '3. low': '181.8500', '4. close': '195.9800', '5. volume': '91516500'}
{'1. open': '190.1200', '2. high': '199.9900', '3. low': '187.0000', '4. close': '195.5800', '5. volume': '84559100'}
{'1. open': '207.1800', '2. high': '208.9290', '3. low': '192.0000', '4. close': '192.9000', '5. volume': '86005300'}
{'1. open': '208.9600', '2. high': '210.6900', '3. low': '196.7910', '4. close': '207.0800', '5. volume': '86603000'}
{'1. open': '197.2300', '2. high': '209.1200', '3. low': '196.8120', '4. close': '208.6500', '5. volume': '88096900'}
{'1. open': '193.2100', '2. high': '199.2300', '3. low': '190.8310', '4. close': '196.7300', '5. volume': '78809900'}
{'1. open': '186.7300', '2. high': '193.1000', '3. low': '177.3472', '4. close': '192.6000', '5. volume': '110015000'}
{'1. open': '187.0100', '2. high': '194.9000', '3. low': '179.0400', '4. close': '183.8800', '5. volume': '103436500'}
{'1. open': '181.5500', '2. high': '189.9700', '3. low': '177.0600', '4. close': '188.0000', '5. volume': '97014100'}
{'1. open': '174.3600', '2. high': '190.5300', '3. low': '168.8800', '4. close': '184.6300', '5. volume': '144563700'}
{'1. open': '172.7100', '2. high': '180.9100', '3. low': '158.7600', '4. close': '174.8700', '5. volume': '137895000'}
{'1. open': '182.6000', '2. high': '183.6900', '3. low': '157.1300', '4. close': '171.9100', '5. volume': '195054100'}
{'1. open': '171.6100', '2. high': '185.6300', '3. low': '171.4900', '4. close': '181.8500', '5. volume': '113593200'}
{'1. open': '168.9000', '2. high': '172.4468', '3. low': '161.5200', '4. close': '171.5500', '5. volume': '105442400'}
{'1. open': '172.1100', '2. high': '173.5400', '3. low': '165.9000', '4. close': '168.9300', '5. volume': '110804200'}
{'1. open': '163.7000', '2. high': '173.0000', '3. low': '162.1900', '4. close': '170.5800', '5. volume': '100769500'}

In [64]:
date = []
open = []
high = []
low = []
close = []
volume = []

df = {}

for key in data['Monthly Time Series'].keys():
    date.append(key)
    open.append(data['Monthly Time Series'][key]['1. open'])
    high.append(data['Monthly Time Series'][key]['2. high'])
    low.append(data['Monthly Time Series'][key]['3. low'])
    close.append(data['Monthly Time Series'][key]['4. close'])
    volume.append(data['Monthly Time Series'][key]['5. volume'])

df = {
    'date': date,
    'open': open,
    'high': high,
    'low': low,
    'close': close,
    'volume': volume
}
df = pd.DataFrame(df)
print(df.head())

         date      open      high       low     close    volume
0  2025-03-13  254.7350  266.4500  243.0400  245.8000  43721821
1  2025-02-28  252.4000  265.7200  246.5400  252.4400  94123851
2  2025-01-31  221.8200  261.8000  214.6100  255.7000  92424171
3  2024-12-31  227.5000  239.3500  217.6523  219.8300  81535689
4  2024-11-29  207.7700  230.3600  204.0700  227.4100  77280587

In [76]:
symbol = 'AAPL'
#api-key

url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol='+ 'symbol'+'&apikey='+ API_KEY
r = requests.get(url)
if r.status_code == 200:
    print('Lets download it...')
    data = r.json()
    print(data)

Lets download it...
{}

In [ ]:
print(data['Meta Data'])

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import alpha_vantage as av
#from alpha_vantage.sectorperformance import SectorPerformances

In [6]:
import requests
import pandas as pd

API_KEY = "YDHYBF65R207CFK6"  # Replace with your actual API key

# Define the API endpoint
url = "https://www.alphavantage.co/query"

# Parameters for sector performance data
params = {
    "function": "SECTOR",
    "apikey": API_KEY
}

# Make the request
response = requests.get(url, params=params)
data = response.json()

print(data)

{}

In [ ]:
# Convert JSON data to a pandas DataFrame
df = pd.DataFrame.from_dict(data, orient="index").T

df.head()

In [11]:
import pandas as pd
import fredapi

def get_FredData0(series_id, api_key, start= None,end=None, data_freq = 'm'):
    fred = fredapi.Fred(api_key)
    df = fred.get_series(series_id)
    df["date"] = df.index.strftime("%Y%m").astype(int)
    return df

api_key='12e72fe8659b5ba78d8dd6f1bb8d97ee'
data = get_FredData0("NCBEILQ027S", api_key,)  # Replace with the correct series ID
data

1945-10-01 00:00:00                                             103694.0
1946-01-01 00:00:00                                                  NaN
1946-04-01 00:00:00                                                  NaN
1946-07-01 00:00:00                                                  NaN
1946-10-01 00:00:00                                              97302.0
                                             ...
2023-10-01 00:00:00                                           51259502.0
2024-01-01 00:00:00                                           55901810.0
2024-04-01 00:00:00                                           57297715.0
2024-07-01 00:00:00                                           60898170.0
date                   Index([194510, 194601, 194604, 194607, 194610,...
Length: 317, dtype: object

In [2]:
import pandas as pd

url = "https://www.hec.unil.ch/agoyal/docs/PredictorData2022.xlsx"  # Update the URL if needed
df = pd.read_excel(url, sheet_name="Monthly")  # or "Annual" for annual data
print(df.head())

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

In [12]:
data = pd.read_csv('datashare.csv')
data.head()

,permno,DATE,mvel1,beta,betasq,chmom,dolvol,idiovol,indmom,mom1m,...,stdcf,ms,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2
0,10006,19570131,82249.000,1.122846,1.260784,0.047180,9.569953,0.025742,0.046433,0.044843,...,NaN,NaN,0.013234,9.411565e-08,0.015453,0.008058,0.355638,0.460420,1.120996e-07,37.0
1,10014,19570131,3903.375,0.426734,0.182102,-0.275641,6.237836,0.072103,0.046433,-0.086957,...,NaN,NaN,0.033305,6.610609e-06,0.047619,0.033495,1.152126,1.169610,9.229146e-08,NaN
2,10022,19570131,9273.250,1.066449,1.137313,-0.025490,7.008844,0.027648,0.046433,-0.060377,...,NaN,NaN,0.016023,2.286832e-06,0.020833,0.015589,0.815777,0.679803,1.181757e-07,NaN
3,10030,19570131,54465.875,0.926038,0.857547,0.018171,9.825337,0.021700,0.046433,0.044633,...,NaN,NaN,0.015295,1.464273e-07,0.039326,0.015849,0.739302,1.333656,6.126699e-08,NaN
4,10057,19570131,40250.000,1.247748,1.556875,0.025785,7.901007,0.025506,0.046433,0.086667,...,NaN,NaN,0.005954,1.380375e-06,0.056856,0.019945,0.755510,0.410391,3.315790e+00,NaN

In [14]:
data.columns

Index(['permno', 'DATE', 'mvel1', 'beta', 'betasq', 'chmom', 'dolvol',
       'idiovol', 'indmom', 'mom1m', 'mom6m', 'mom12m', 'mom36m', 'pricedelay',
       'turn', 'absacc', 'acc', 'age', 'agr', 'bm', 'bm_ia', 'cashdebt',
       'cashpr', 'cfp', 'cfp_ia', 'chatoia', 'chcsho', 'chempia', 'chinv',
       'chpmia', 'convind', 'currat', 'depr', 'divi', 'divo', 'dy', 'egr',
       'ep', 'gma', 'grcapx', 'grltnoa', 'herf', 'hire', 'invest', 'lev',
       'lgr', 'mve_ia', 'operprof', 'orgcap', 'pchcapx_ia', 'pchcurrat',
       'pchdepr', 'pchgm_pchsale', 'pchquick', 'pchsale_pchinvt',
       'pchsale_pchrect', 'pchsale_pchxsga', 'pchsaleinv', 'pctacc', 'ps',
       'quick', 'rd', 'rd_mve', 'rd_sale', 'realestate', 'roic', 'salecash',
       'saleinv', 'salerec', 'secured', 'securedind', 'sgr', 'sin', 'sp',
       'tang', 'tb', 'aeavol', 'cash', 'chtx', 'cinvest', 'ear', 'nincr',
       'roaq', 'roavol', 'roeq', 'rsup', 'stdacc', 'stdcf', 'ms', 'baspread',
       'ill', 'maxret', 'retvol', 'std_dolvol', 'std_turn', 'zerotrade',
       'sic2'],
      dtype='object')

In [87]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.fundamentaldata import FundamentalData

# Replace 'YOUR_API_KEY' with your actual API key
api_key = 'YOUR_API_KEY'
fd = FundamentalData(key=API_KEY, output_format='pandas')

# Replace 'AAPL' with the stock symbol you're interested in
symbol = 'AAPL'
balance_sheet, _ = fd.get_balance_sheet_annual(symbol)

# Display the balance sheet data
print(balance_sheet)

ts = TimeSeries(key=API_KEY, output_format='pandas')

# Get json object with the intraday data and another with  the call's metadata for January, 2014.
data1, meta_data1 = ts.get_intraday('GOOGL', interval='1mo')

                              fiscalDateEnding reportedCurrency   totalAssets  \
date
1970-01-01 00:00:00.000000000       2024-09-30              USD  364980000000
1970-01-01 00:00:00.000000001       2023-09-30              USD  352583000000
1970-01-01 00:00:00.000000002       2022-09-30              USD  352755000000
1970-01-01 00:00:00.000000003       2021-09-30              USD  351002000000
1970-01-01 00:00:00.000000004       2020-09-30              USD  323888000000
1970-01-01 00:00:00.000000005       2019-09-30              USD  338516000000
1970-01-01 00:00:00.000000006       2018-09-30              USD  365725000000
1970-01-01 00:00:00.000000007       2017-09-30              USD  375319000000
1970-01-01 00:00:00.000000008       2016-09-30              USD  321686000000
1970-01-01 00:00:00.000000009       2015-09-30              USD  290345000000
1970-01-01 00:00:00.000000010       2014-09-30              USD  231839000000
1970-01-01 00:00:00.000000011       2013-09-30              USD  207000000000
1970-01-01 00:00:00.000000012       2012-09-30              USD  176064000000
1970-01-01 00:00:00.000000013       2011-09-30              USD  116371000000
1970-01-01 00:00:00.000000014       2010-09-30              USD   75183000000
1970-01-01 00:00:00.000000015       2009-09-30              USD   47501000000
1970-01-01 00:00:00.000000016       2008-09-30              USD   36171000000

                              totalCurrentAssets  \
date
1970-01-01 00:00:00.000000000       152987000000
1970-01-01 00:00:00.000000001       143566000000
1970-01-01 00:00:00.000000002       135405000000
1970-01-01 00:00:00.000000003       134836000000
1970-01-01 00:00:00.000000004       143713000000
1970-01-01 00:00:00.000000005       162819000000
1970-01-01 00:00:00.000000006       131339000000
1970-01-01 00:00:00.000000007       128645000000
1970-01-01 00:00:00.000000008       106869000000
1970-01-01 00:00:00.000000009        89378000000
1970-01-01 00:00:00.000000010        68531000000
1970-01-01 00:00:00.000000011        73286000000
1970-01-01 00:00:00.000000012        57653000000
1970-01-01 00:00:00.000000013        44988000000
1970-01-01 00:00:00.000000014        41678000000
1970-01-01 00:00:00.000000015        31555000000
1970-01-01 00:00:00.000000016        30006000000

                              cashAndCashEquivalentsAtCarryingValue  \
date
1970-01-01 00:00:00.000000000                           29943000000
1970-01-01 00:00:00.000000001                           29965000000
1970-01-01 00:00:00.000000002                           23646000000
1970-01-01 00:00:00.000000003                           34940000000
1970-01-01 00:00:00.000000004                           38016000000
1970-01-01 00:00:00.000000005                           48844000000
1970-01-01 00:00:00.000000006                           25913000000
1970-01-01 00:00:00.000000007                           20289000000
1970-01-01 00:00:00.000000008                           20484000000
1970-01-01 00:00:00.000000009                           21120000000
1970-01-01 00:00:00.000000010                           13844000000
1970-01-01 00:00:00.000000011                           14259000000
1970-01-01 00:00:00.000000012                           10746000000
1970-01-01 00:00:00.000000013                            9815000000
1970-01-01 00:00:00.000000014                           11261000000
1970-01-01 00:00:00.000000015                            5263000000
1970-01-01 00:00:00.000000016                           11875000000

                              cashAndShortTermInvestments   inventory  \
date
1970-01-01 00:00:00.000000000                 65171000000  7286000000
1970-01-01 00:00:00.000000001                 61555000000  6331000000
1970-01-01 00:00:00.000000002                 48304000000  4946000000
1970-01-01 00:00:00.000000003                 62639000000  6580000000
1970-01-01 00:00:00.000000004                 90943000000  4061000000
1970-01-01 00:00:00.000000005                100557000000  4106000000
1970-01-01 00:00:00.000000006                 25913000000  3956000000
1970-01-01 00:00:00.000000007                 74181000000  4855000000
1970-01-01 00:00:00.000000008                 67155000000  2132000000
1970-01-01 00:00:00.000000009                 41601000000  2349000000
1970-01-01 00:00:00.000000010                 25077000000  2111000000
1970-01-01 00:00:00.000000011                 40546000000  1764000000
1970-01-01 00:00:00.000000012                 29129000000   791000000
1970-01-01 00:00:00.000000013                 25952000000   776000000
1970-01-01 00:00:00.000000014                 25620000000  1051000000
1970-01-01 00:00:00.000000015                 23464000000   455000000
1970-01-01 00:00:00.000000016                 11875000000   509000000

                              currentNetReceivables totalNonCurrentAssets  \
date
1970-01-01 00:00:00.000000000           66243000000          211993000000
1970-01-01 00:00:00.000000001           60985000000          209017000000
1970-01-01 00:00:00.000000002           60932000000          217350000000
1970-01-01 00:00:00.000000003           51506000000          216166000000
1970-01-01 00:00:00.000000004           37445000000          180175000000
1970-01-01 00:00:00.000000005           45804000000          175697000000
1970-01-01 00:00:00.000000006           48995000000          234386000000
1970-01-01 00:00:00.000000007           35673000000          246674000000
1970-01-01 00:00:00.000000008           29299000000          385247000000
1970-01-01 00:00:00.000000009           30343000000          365166000000
1970-01-01 00:00:00.000000010           27219000000          293470000000
1970-01-01 00:00:00.000000011           13102000000          239929000000
1970-01-01 00:00:00.000000012           10930000000          213533000000
1970-01-01 00:00:00.000000013            5369000000          123607000000
1970-01-01 00:00:00.000000014            5510000000           57101000000
1970-01-01 00:00:00.000000015            3361000000           23520000000
1970-01-01 00:00:00.000000016                  None            4882000000

                              propertyPlantEquipment  ... currentLongTermDebt  \
date                                                  ...
1970-01-01 00:00:00.000000000            45680000000  ...         10912000000
1970-01-01 00:00:00.000000001            43715000000  ...          9822000000
1970-01-01 00:00:00.000000002            42117000000  ...         11128000000
1970-01-01 00:00:00.000000003            39440000000  ...          9613000000
1970-01-01 00:00:00.000000004            36766000000  ...          8773000000
1970-01-01 00:00:00.000000005            37378000000  ...         10260000000
1970-01-01 00:00:00.000000006            41304000000  ...          8784000000
1970-01-01 00:00:00.000000007            33783000000  ...          6496000000
1970-01-01 00:00:00.000000008            27010000000  ...          3500000000
1970-01-01 00:00:00.000000009            22471000000  ...          2500000000
1970-01-01 00:00:00.000000010            20624000000  ...                   0
1970-01-01 00:00:00.000000011            16597000000  ...                None
1970-01-01 00:00:00.000000012            15452000000  ...                None
1970-01-01 00:00:00.000000013             7777000000  ...                None
1970-01-01 00:00:00.000000014             2174000000  ...                None
1970-01-01 00:00:00.000000015             1780000000  ...                None
1970-01-01 00:00:00.000000016             2455000000  ...                None

                              longTermDebtNoncurrent shortLongTermDebtTotal  \
date
1970-01-01 00:00:00.000000000            85750000000           106629000000
1970-01-01 00:00:00.000000001            95281000000           111088000000
1970-01-01 00:00:00.000000002            98959000000           233256000000
1970-01-01 00:00:00.000000003           109106000000           241783000000
1970-01-01 00:00:00.000000004            98667000000           216860000000
1970-01-01 00:00:00.000000005            91807000000           209135000000
1970-01-01 00:00:00.000000006            93735000000           220132000000
1970-01-01 00:00:00.000000007            97207000000           219794000000
1970-01-01 00:00:00.000000008            75427000000           164694000000
1970-01-01 00:00:00.000000009            53329000000           119787000000
1970-01-01 00:00:00.000000010            28987000000            35295000000
1970-01-01 00:00:00.000000011            15900000000            16960000000
1970-01-01 00:00:00.000000012                   None                   None
1970-01-01 00:00:00.000000013                   None                   None
1970-01-01 00:00:00.000000014                   None                   None
1970-01-01 00:00:00.000000015                   None                   None
1970-01-01 00:00:00.000000016                   None                   None

                              otherCurrentLiabilities  \
date
1970-01-01 00:00:00.000000000             78304000000
1970-01-01 00:00:00.000000001             58829000000
1970-01-01 00:00:00.000000002             60845000000
1970-01-01 00:00:00.000000003             47493000000
1970-01-01 00:00:00.000000004             42684000000
1970-01-01 00:00:00.000000005             37720000000
1970-01-01 00:00:00.000000006             33327000000
1970-01-01 00:00:00.000000007             30551000000
1970-01-01 00:00:00.000000008             22027000000
1970-01-01 00:00:00.000000009             25181000000
1970-01-01 00:00:00.000000010             18453000000
1970-01-01 00:00:00.000000011             13856000000
1970-01-01 00:00:00.000000012             11414000000
1970-01-01 00:00:00.000000013              9247000000
1970-01-01 00:00:00.000000014              5723000000
1970-01-01 00:00:00.000000015              3376000000
1970-01-01 00:00:00.000000016              3719000000

                              otherNonCurrentLiabilities  \
date
1970-01-01 00:00:00.000000000                45888000000
1970-01-01 00:00:00.000000001                49848000000
1970-01-01 00:00:00.000000002                49142000000
1970-01-01 00:00:00.000000003                53325000000
1970-01-01 00:00:00.000000004                54490000000
1970-01-01 00:00:00.000000005                50503000000
1970-01-01 00:00:00.000000006                48914000000
1970-01-01 00:00:00.000000007                40415000000
1970-01-01 00:00:00.000000008                36074000000
1970-01-01 00:00:00.000000009                33427000000
1970-01-01 00:00:00.000000010                24826000000
1970-01-01 00:00:00.000000011                20208000000
1970-01-01 00:00:00.000000012                16664000000
1970-01-01 00:00:00.000000013                10100000000
1970-01-01 00:00:00.000000014                 5531000000
1970-01-01 00:00:00.000000015                 3502000000
1970-01-01 00:00:00.000000016                 1745000000

                              totalShareholderEquity treasuryStock  \
date
1970-01-01 00:00:00.000000000            56950000000          None
1970-01-01 00:00:00.000000001            62146000000          None
1970-01-01 00:00:00.000000002            50672000000          None
1970-01-01 00:00:00.000000003            63090000000          None
1970-01-01 00:00:00.000000004            65339000000          None
1970-01-01 00:00:00.000000005            90488000000          None
1970-01-01 00:00:00.000000006           107147000000          None
1970-01-01 00:00:00.000000007           134047000000          None
1970-01-01 00:00:00.000000008           128249000000          None
1970-01-01 00:00:00.000000009           119355000000          None
1970-01-01 00:00:00.000000010           111547000000          None
1970-01-01 00:00:00.000000011           123549000000          None
1970-01-01 00:00:00.000000012           118210000000          None
1970-01-01 00:00:00.000000013            76615000000          None
1970-01-01 00:00:00.000000014            47791000000          None
1970-01-01 00:00:00.000000015            31640000000          None
1970-01-01 00:00:00.000000016            22297000000          None

                              retainedEarnings  commonStock  \
date
1970-01-01 00:00:00.000000000     -19154000000  83276000000
1970-01-01 00:00:00.000000001       -214000000  73812000000
1970-01-01 00:00:00.000000002      -3068000000  64849000000
1970-01-01 00:00:00.000000003       5562000000  57365000000
1970-01-01 00:00:00.000000004      14966000000  50779000000
1970-01-01 00:00:00.000000005      45898000000  45174000000
1970-01-01 00:00:00.000000006      70400000000  40201000000
1970-01-01 00:00:00.000000007      98330000000  35867000000
1970-01-01 00:00:00.000000008      96364000000  31251000000
1970-01-01 00:00:00.000000009      92284000000  27416000000
1970-01-01 00:00:00.000000010      87152000000  23313000000
1970-01-01 00:00:00.000000011     104256000000  19764000000
1970-01-01 00:00:00.000000012     101289000000  16422000000
1970-01-01 00:00:00.000000013      62841000000  13331000000
1970-01-01 00:00:00.000000014      37169000000  10668000000
1970-01-01 00:00:00.000000015      23353000000   8210000000
1970-01-01 00:00:00.000000016      15129000000   7177000000

                              commonStockSharesOutstanding
date
1970-01-01 00:00:00.000000000                  15116786000
1970-01-01 00:00:00.000000001                  15550061000
1970-01-01 00:00:00.000000002                  15943425000
1970-01-01 00:00:00.000000003                  16426786000
1970-01-01 00:00:00.000000004                  16976763000
1970-01-01 00:00:00.000000005                   4443236000
1970-01-01 00:00:00.000000006                   4754986000
1970-01-01 00:00:00.000000007                   5126201000
1970-01-01 00:00:00.000000008                   5336166000
1970-01-01 00:00:00.000000009                   5578753000
1970-01-01 00:00:00.000000010                   5866161000
1970-01-01 00:00:00.000000011                    899213000
1970-01-01 00:00:00.000000012                    939208000
1970-01-01 00:00:00.000000013                    929277000
1970-01-01 00:00:00.000000014                    915970050
1970-01-01 00:00:00.000000015                    899805500
1970-01-01 00:00:00.000000016                    888325973

[17 rows x 38 columns]

ValueError: Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_INTRADAY.

In [89]:
overview, _ = fd.get_company_overview(symbol)
overview['MarketCapitalization']

None    3259495350000
Name: MarketCapitalization, dtype: object

In [90]:
# Replace 'YOUR_API_KEY' with your actual API key
api_key = API_KEY
ts = TimeSeries(key=api_key, output_format='pandas')
fd = FundamentalData(key=api_key, output_format='pandas')

# Replace 'AAPL' with the stock symbol you're interested in
symbol = 'AAPL'

# Fetch historical stock prices
stock_data, _ = ts.get_daily_adjusted(symbol=symbol, outputsize='full')

# Fetch the latest shares outstanding
overview, _ = fd.get_company_overview(symbol)
shares_outstanding = int(overview['SharesOutstanding'])

# Calculate historical market capitalization
stock_data['MarketCapitalization'] = stock_data['adjusted close'] * shares_outstanding

# Filter data for the desired time period
start_date = '1990-01-01'
end_date = '2000-01-01'
historical_market_cap = stock_data.loc[start_date:end_date, ['MarketCapitalization']]

print(historical_market_cap)

ValueError: Thank you for using Alpha Vantage! This is a premium endpoint. You may subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly unlock all premium endpoints